@model Sampe.FormularioTrocaMolde

@{
    ViewBag.Title = "Edit";
}

<script>
    $(":disabled", $('#frmMain')).removeAttr("disabled");
</script>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Formulario de Troca de Molde</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FormularioTrocaMoldeId)

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <table class="table-bordered">
                        <tr>
                            <th>Molde Retirado</th>
                            <th>Molde Colocado</th>
                        </tr>
                        <tr>
                            @foreach (var x in Model.Moldes)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => x.NomeMolde) (@Html.DisplayFor(modelItem => x.Cavidade))
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaquinaId, "MaquinaId", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("MaquinaId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(model => model.MaquinaId)
                    @Html.ValidationMessageFor(model => model.MaquinaId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DtRetirada, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DtRetirada, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DtRetirada, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.RetirarInicio, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RetirarInicio, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RetirarInicio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.RetirarFim, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.RetirarFim, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RetirarFim, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DtColocar, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.DtColocar, new { htmlAttributes = new { type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DtColocar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.ColocarInicio, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ColocarInicio, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ColocarInicio, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.ColocarFim, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.ColocarFim, new { htmlAttributes = new { type = "time", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ColocarFim, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Supervisor, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Supervisor, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Supervisor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UsuarioId, "UsuarioId", htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="container" id="capaefectos">
            <div class="col-lg-12 col-sm-12">
                @foreach (var a in Model.FormularioTMAtividades)
                {
                    <div class="checkbox" id="check">
                        @if (a.StatusTM == true)
                        {
                            <input type="checkbox" value="@a.FormularioTMAtividadeId" name="id" checked disabled>
                            <label>@a.AtividadeTM.NomeAtvTm</label>
                        }
                        else
                        {
                            <input type="checkbox" value="@a.FormularioTMAtividadeId" name="id">
                            <label>@a.AtividadeTM.NomeAtvTm</label>
                        }
                    </div>
                }
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
